.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #CD5C5C;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image {
  margin: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.square-image {
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  height: 200px;
}

.text-fields {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
